{% extends "base.html" %}
{% block title %} Demo {% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/video.css') }}"/>

<!-- Start Header -->
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark">
    <div class="container">
      <a class="navbar-brand">Techno</a>
      <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
        <li><a class="nav-link" href="{{url_for('index')}}" >Home</a></li>
        <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('demo') }}">Demo</a></li>
        <li><a class="nav-link" href="{{url_for('index')}}#about" accesskey="a">About us</a></li>
      </ul>
    </div>
  </nav>
  <!-- End Header -->

<!-- Demo -->
<div class="a1">
  <div class="container">
    <div class="main-content">
      <div id="camera-container">
        <h1>Live Feed</h1>
        <video id="videoElement" autoplay alt="Camera Feed" />
      </div>
      <div class="info">
        <p>Detected Emotion: Happy</p>
        <p>Time: <span id="time"></span></p>
        <p>Status: Active</p>
      </div>
    </div>
  </div>
</div>
<!-- End Demo -->

<script src="{{ url_for('static', filename='js/video.js') }}"></script>
{% endblock %}