{% extends "base.html" %}
{% block title %} Demo {% endblock %}
{% block content %}
<style>
  body {
    background-image: url('static/images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover; 
    background-color: #650707;
}
</style>
<!-- Start Header -->
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark">
    <div class="container">
      <a class="navbar-brand">Techno</a>
      <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
        <li><a class="nav-link" href="{{url_for('index')}}" >Home</a></li>
        <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('demo') }}">Demo</a></li>
        <li><a class="nav-link" href="{{url_for('index')}}#about" accesskey="a">About us</a></li>
      </ul>
    </div>
  </nav>
  <!-- End Header -->

<!-- Start HERO Section -->
<div class="hero1">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5">
          <div class="intro-excerpt">
            <h1>Try out Live Demos</h1>
            <p>
              <a href="{{url_for('demo')}}" class="btn btn-secondary btn-lg">Try out Demo</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->
{% endblock %}