{% extends "base.html" %}
{% block title %}ExpressAI{% endblock %}

{% block content %}
<!-- Start Header -->
<nav class="custom-navbar navbar navbar-expand-md navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('home') }}">ExpressAI</a>
    <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('demo') }}">Demo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('report') }}">Report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login_page') }}">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<!-- End Header -->

<!-- Start HERO Section -->
<div class="hero">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>Face Tracking, Analysis, and Recognition</h1>
          <p class="mb-4">Experience real-time facial expression recognition with ExpressAI powered by deep learning.</p>
          <p>
            <a href="{{ url_for('demo') }}" class="btn btn-secondary btn-lg">Try out Demo</a>&nbsp;
            <a href = "{{ url_for('report') }}" class="btn btn-secondary btn-lg"> View Report </a>
          </p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="hero-img-wrap">
          <img src="{{ url_for('static', filename='images/facial-hero1.png') }}" class="img-fluid" alt="Facial Recognition Hero Image" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->

{% endblock %}
